* {
  margin:0;
  padding:0;
}
body{
     background-color: grey;
     font-family: Courier New;
}

.container{
   width: 85%;
   margin: 50px auto;
   font-weight:bold;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-box{
   background: #fff;
   display: flex;
}
.contact-left{
   flex-basis: 60%;
   padding: 40px 60px;
}
.contact-right{
   flex-basis: 40%;
   padding: 40px;
   background-color: #4CAF50;
   color: white;
}
h1{ 
     margin-bottom: 10px;
	 color:white;
}
.container p{ 
     margin-bottom: 40px;
	 color:white;
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
   flex-basis: 45%;
}
input{
   width: 100%;
   border: none;
   border-bottom:1px solid black;
   outline:none;
   padding-bottom:5px;
}
textarea{
  width: 100%;
  border:1px solid black;
   outline:none;
  padding: 10px;
 box-sizing: border-box;
} 
label{
   margin-bottom: 6px;
   display: block;
   color:#4CAF50;
}
button{
  background: #4CAF50;
  width: 100px;
  border:none;
  outline:none;
  color: white;
  height:35px;
 margin-top: 20px;
  overflow:hidden;
 opacity:1;
}
button:hover{
  opacity:1;
  color: #ffffff ;
background: #f6b93b;
border-color: #f6b93b ;
transition: all 0.4s ease 0s;
  
}
.contact-left h3{
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3{
	
  font-size:19px;
  font-weight: bold;
  margin-bottom: 30px;
}
tr td:first-child{
  padding-right: 20px;
    font-weight: bold;
}
tr td{
	color: white;
  padding-top: 20px;
}

[class="input-row"] {
  width: 100%;
}
